:root {
    --primary: #fff200;
    --text: #fafafa;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    transform: scale(1.09);
}
input {
    outline: none;
}
header {
    position: relative;
}

