footer {
    background-color: #000;
    padding: 100px 200px 20px;
    color: var(--text);
}

.footer__desc {
    gap: 30px;
}
.footer__items h1 {
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--text);
}
.footer__items-cu {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.footer__items-cu i {
    margin-right: 10px;
    color: #fff;
}
.special {
    color: #fff ;
    font-size: 25px !important;
}
.footer__contact h1 {
    font-size: 20px;
    color: var(--text);
    margin-bottom: 20px;
}
.footer__contact input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
}
.footer__contact input::placeholder {
    font-size: 15px;
    padding-left: 10px;
}
.footer__contact button {
    padding: 7px 30px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary);
    color: #999;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}
.footer__contact i {
    font-size: 20px;
    margin-right: 5px;
    color: #fff;
}
.footer__copyright {
    text-align: center;
    font-size: 12px;
    color: #999;
}
@media (max-width:768px) {
    footer {
        padding: 50px 50px 10px;
    }
    .footer__desc {
        gap: 10px;
    }
    .footer__items h1 {
        text-align: center;
    }
    .footer__contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .footer__contact button {
        margin-bottom: 10px;
    }
    .footer__copyright {
        margin-top: 20px ;
    }
}